@import "normalize.css";

$main-color: #DA3131;
$second-color: #2f222e;
$back-color: #09090c;
$font-color: #e6e6e6;

$btn-color: #21262d;
$btn-bd-color: #3d3d3e;
$btn-font-color: #c9d1d9;
$btn-color-hv: #30363d;
$btn-bd-color-hv: #8b949e;
$btn-dgr-color: #a73630;
$btn-dgr-bd-color: #d73a31;

$border-color: $back-color;
$cell-color: #e7e7e7;
$wall-color: #353535;
$wall-bd-color: #494949;
$start-color: #5ad47f;
$end-color: #da4c53;
$visited-color: #7994db;
$path-color: #ffeb35;

$menu-size: 300px;
$main-font:  -apple-system, Helvetica, Arial, sans-serif;

* {
	box-sizing: border-box;
}

html,
body {
	display: block;
	background-color: $back-color;
	color: $font-color;
	fill: $font-color;
	font-size: 20px;
	font-family: $main-font;
	min-height: 100vh;
	height: 100%;
	overflow: auto;
}

div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}
a img {
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: $font-color;
	fill: $main-color;
	word-break: break-word;
}
h1 {
	font-weight: 800;
	text-align: center;
}
h2 {
	font-size: 16pt;
	text-align: center;
}
hr {
	border-color: $btn-bd-color;
}

.wrapper {
	width: 100%;
	height: 100%;
	padding-left: $menu-size;
}
.layout {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	.grid {
		border-collapse: collapse;
		background-color: $cell-color;
		border-radius: 15px;
		overflow: hidden;
		td {
			//border: 1px solid $border-color;
		}
		.visited {
			position: relative;
			//animation: visitedAnimation 1s;
			//border-radius: 50%;
			//transform: scale(0.5);
			&::before {
				content: " ";
				position: absolute;
				width: 20px;
				height: 20px;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				border-radius: 6px;
				background-color: $visited-color;
				animation: visitedAnimTranslate 1s;
			}
		}
		.path {
			background-color: $path-color;
			animation: visitedAnim 1s;
		}
		.start, .wall, .end {
			border-radius: 0;
			transform: none;
			animation: none;
		}
		.wall {
			background-color: $wall-color;
			border: 1px solid $wall-bd-color;
			animation: classicAppear ease-out .25s;
		}
		.start, .end {
			background-position: center;
			background-repeat: no-repeat;
		}
		.start {
			// background-color: $start-color;
			background-image: url("../media/start.svg");
		}
		.end {
			// background-color: $end-color;
			background-image: url("../media/end.svg");
		}
		@keyframes classicAppear {
			from {
				transform: scale(.3);
				opacity: .25;
			}
			to {
				transform: scale(1);
				opacity: 1;
			}
		}
		@keyframes visitedAnimTranslate {
			0% {
				transform: translate(-50%,-50%) scale(.3);
				opacity: .25;
			}
			75% {
				transform: translate(-50%,-50%) scale(1.2);
				opacity: .75;
			}
			100% {
				transform: translate(-50%,-50%) scale(1);
				opacity: 1;
			}
		}
		@keyframes visitedAnim {
			0% {
				transform: scale(.3);
				opacity: .25;
			}
			75% {
				transform: scale(1.2);
				opacity: .75;
			}
			100% {
				opacity: 1;
			}
		}
	}
}

.header {
	position: fixed;
	padding: 5px 20px;
	height: 100%;
	width: $menu-size;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
		background: transparent;
	}
	select, button {
		cursor: pointer;
		margin-bottom: 15px;
		border: 1px solid $btn-bd-color;
		border-radius: 5px;
		background-color: $btn-color;
		color: $btn-font-color;
		font-size: 12pt;
		font-weight: 600;
		transition: all 150ms ease;
		&:hover {
			border-color: $btn-bd-color-hv;
			background-color: $btn-color-hv;
		}
	}
	select {
		padding: 7px 40px 7px 12px;
		width: 100%;
		border: 1px solid $btn-bd-color;
		box-shadow: 0 1px 3px -2px #9098a9;
	}
	button {
		padding: 0.4rem 0.3rem;
		width: 100%;
		color: $btn-font-color;
		> * {
			vertical-align: middle;
		}
		svg {
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-right: 5px;
		}
	}
	.btn-dgr {
		color: white;
		fill: white;
		background-color: $btn-dgr-color;
		border-color: $btn-dgr-bd-color;
	}
}