@import "normalize.css";

$main-color: #DA3131;
$second-color: #2f222e;
$back-color: #161616;
$font-color: #e6e6e6;

$border-color: $back-color;
$cell-color: #e7e7e7;
$wall-color: #353535;
$wall-bd-color: #494949;
$start-color: #5ad47f;
$end-color: #da4c53;
$visited-color: #7994db;
$path-color: #ffeb35;

$menu-size: 300px;
$main-font:  -apple-system, Helvetica, Arial, sans-serif;

* {
	box-sizing: border-box;
}

html,
body {
	display: block;
	background-color: $back-color;
	color: $font-color;
	fill: $font-color;
	font-size: 20px;
	font-family: $main-font;
	min-height: 100vh;
	height: 100%;
	overflow: auto;
}

div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}
a img {
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: $font-color;
	fill: $main-color;
	word-break: break-word;
}


.wrapper {
	width: 100%;
	height: 100%;
	padding-left: $menu-size;
}
.layout {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	.grid {
		border-collapse: collapse;
		background-color: $cell-color;
		td {
			//border: 1px solid $border-color;
		}
		.visited {
			position: relative;
			//animation: visitedAnimation 1s;
			//border-radius: 50%;
			//transform: scale(0.5);
			&::before {
				content: " ";
				position: absolute;
				width: 20px;
				height: 20px;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				border-radius: 6px;
				background-color: $visited-color;
				animation: visitedAnimTranslate 1s;
			}
		}
		.path {
			background-color: $path-color;
			animation: visitedAnim 1s;
		}
		.start, .wall, .end {
			animation: none;
			border-radius: 0;
			transform: none;
		}
		.wall {
			background-color: $wall-color;
			border: 1px solid $wall-bd-color;
		}
		.start {
			background-color: $start-color;
		}
		.end {
			background-color: $end-color;
		}
		@keyframes visitedAnimTranslate {
			0% {
				transform: translate(-50%,-50%) scale(.3);
				opacity: .25;
			}
			75% {
				transform: translate(-50%,-50%) scale(1.2);
				opacity: .75;
			}
			100% {
				transform: translate(-50%,-50%) scale(1);
				opacity: 1;
			}
		}
		@keyframes visitedAnim {
			0% {
				transform: scale(.3);
				opacity: .25;
			}
			75% {
				transform: scale(1.2);
				opacity: .75;
			}
			100% {
				opacity: 1;
			}
		}
	}
}

.header {
	position: fixed;
	padding: 5px 20px;
	height: 100%;
	width: $menu-size;
	select {
		cursor: pointer;
		margin-bottom: 15px;
		padding: 7px 40px 7px 12px;
		width: 100%;
		border: 1px solid #e8eaed;
		border-radius: 5px;
		background: #fff;
		box-shadow: 0 1px 3px -2px #9098a9;
		font-size: 16px;
		transition: all 150ms ease;
	}
	button {
		cursor: pointer;
		margin-bottom: 15px;
		width: 100%;
		border: 1px solid #e8eaed;
		border-radius: 5px;
	}
}