@import "normalize.css";

$main-color: #DA3131;
$second-color: #2f222e;
$back-color: #161616;
$font-color: #e6e6e6;

$border-color: #707070;
$cell-color: #494949;
$wall-color: #e7e7e7;
$wall-bd-color: #c3c3c3;
$start-color: #5ad47f;
$end-color: #da4c53;
$visited-color: #7994db;

$menu-size: 300px;
$main-font:  -apple-system, Helvetica, Arial, sans-serif;

* {
	box-sizing: border-box;
}

html,
body {
	display: block;
	background-color: $back-color;
	color: $font-color;
	fill: $font-color;
	font-size: 20px;
	font-family: $main-font;
	min-height: 100vh;
	height: 100%;
	overflow: auto;
}

div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}
a img {
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: $font-color;
	fill: $main-color;
	word-break: break-word;
}


.wrapper {
	width: 100%;
	height: 100%;
	padding-left: $menu-size;
}
.layout {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	.grid {
		border-collapse: collapse;
		background-color: $cell-color;
		td {
			border: 1px solid $border-color;
		}
		.wall {
			background-color: $wall-color;
			border: 1px solid $wall-bd-color;
		}
		.start {
			background-color: $start-color;
		}
		.end {
			background-color: $end-color;
		}
		.visited {
			background-color: $visited-color;
		}
	}
}

.header {
	position: fixed;
	height: 100%;
	width: $menu-size;
}